body {
    background: url('backgroundimages/paymentbackground.jpg') no-repeat center center fixed;
    background-size: cover;  /* Заполняет весь экран */
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-container h1 {
    text-align: center;
    color: #ff6f61;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input, .form-group select {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #ff6f61;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #e65c50;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
.container h1 {
    color: #ff6f61;
}
.container p {
    margin: 10px 0;
}
.pay-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.pay-button:hover {
    background-color: #218838;
}